.heroes_grid {
  display: grid;
  gap: 8px;
  padding: 16px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.hero_card {
  border: 1px solid #ccc;
  padding: 6px;
  border-radius: 8px;
  text-align: center;
}

.hero_card:hover {
    box-shadow: 0 4px 8px var(--accent-glow);
    transform: translateY(-4px);
    transition: all 0.3s ease;
}

.hero_image {
  width: 100%;
  height: auto;
}
