.leaderboard_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.player_card {
  border: 1px solid #ccc;
  padding: 6px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 12px;
  text-align: left;
}

.player_card:hover {
    box-shadow: 0 4px 8px var(--accent-glow);
    transform: translateY(-4px);
    transition: all 0.3s ease;
}